.list {
  $self: &;

  margin-bottom: 30px;

  &__add-button {
    opacity: .4;

    &:hover {
      opacity: 1;
    }
  }

  li {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;
    transition: background-color .15s ease-in-out;

    &:hover #{$self}__remove-icon {
      opacity: .2;
    }

    #{$self}__remove-icon {
      opacity: 0;
      transition: opacity .15s ease-in-out;


      &:hover {
        opacity: .8;
      }
    }

    span {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 160px;
      white-space: nowrap;
    }

    .badge {
      position: relative;
      left: 5px;
    }

    &:hover {
      background: rgba(255, 255, 255, .5);
    }

    &.active {
      background: #ffffff;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, .04);
      border-radius: 4px;
    }

    i {
      display: inline-flex;
      margin-right: 8px;

      svg {
        path {
          fill: #7c7c7c;
        }
      }
    }

  }

  &__delete {
    z-index: 99;
    width: 270px;
    min-height: 60px;
    background: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, .05);
    border-radius: 10px;
    padding: 15px;
    box-sizing: content-box;
    position: absolute;
    top: -3%;
    left: 40%;
    text-align: center;
    animation: fadeOut .3s ease-in-out;

    p {
      margin-bottom: 10px;
    }

  }

}

.overlay {
  z-index: 97;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

